<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Pemilihan Raya Fakultas Saintek Universitas Ibrahimy"
    />
    <title>Voting Form Saintek Ibrahimy University</title>
    <link
      rel="shortcut icon"
      href="./images/logo-saintek-192x192.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <content-wrap></content-wrap>
  </body>
</html>
